body {
    background-color: grey;
    margin: 0;
    padding: 0;

}

ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
    background-color: wheat;
    height: 50px;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    color: white;
    padding: 14px 16px;
    display: block;
    text-decoration: none;
    font-family: 'Grenze Gotisch', cursive;
}

li a:hover {
    background-color: black;
}